elpa/
.emacs.desktop
.emacs.desktop.lock
.smex-items
custom.el
history
ido.hist
places
transient/
straight/
.cache/
emojis/
.dap-breakpoints
.lsp-session-v1
recentf
projectile-bookmarks.eld
url/

dir-to-pylsp.txt
pylsp-sh.log
